<h1>Wikis</h1>
<%= params %>
<h1><%= @wiki.title %></h1>
<p><%= @wiki.body %></p>
<%= link_to "Edit", edit_post_path(@wiki), class: 'btn btn-success' %>
<%= link_to "Delete Post", @wiki, method: :delete,  class: 'btn btn-success', data: {confirm} %>