<!DOCTYPE html>
<html>
  <head>
    <title>Mathpedia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
     <% if user_signed_in? %>
      <nav class="navbar navbar-dark bg-dark">
        <%= link_to 'My Profile', edit_user_registration_path, :class => 'nav-link nav-item'  %>
        <%= link_to 'Wikis', wikis_path, :class => 'nav-link nav-item'  %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => ' nav-item nav-link'  %>
      </nav>
    <% end %>
     <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
